.login-page{
    box-sizing: border-box;

position: absolute;
width: 549px;
height: 669px;
left: 0px;
top: 94px;

background: rgba(186, 155, 55, 0.05);
border: 1px solid #BA9B37;
border-radius: 40px;
}

.btn{
    color: blue;
}